/* TODO remove px's */

@font-face {
    font-family: 'PixelFont';
    src: url('PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 5;

    transition: all 0.3s ease;
    cursor: pointer;

    color: rgb(45, 128, 141);

    font-family: 'PixelFont', monospace;
    -webkit-font-smoothing: none;
}

.icon {
    height: 1em;
    width: 1em;
    margin-right: 20px;
    object-fit: contain;
    image-rendering: pixelated;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: rgb(45, 128, 141);
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

p {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

body {

    font-family: 'PixelFont', monospace;
    -webkit-font-smoothing: none;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;

    padding: 50px;

    background-color: rgb(28, 49, 49);
}

.page {
    display: flex;
    justify-content: left;
    gap: 50px;
}

.header{

    padding-bottom: 20px;
}

.content {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 20px;

}

.locations_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar {
    padding: 10px;
    gap: 20px;
    width: 250px; 
    background-color: darkslategrey;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 5;

    transition: all 0.3s ease;
    cursor: pointer;

    color: rgb(45, 128, 141);

    font-family: 'PixelFont', monospace;
    -webkit-font-smoothing: none;
}

.location_submit{
    margin-top: 8px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(45, 128, 141);
    color: white;
    font-size: 12px;
    cursor: pointer;
    font-family: 'PixelFont', monospace;
    -webkit-font-smoothing: none;
}

.location_input{
    margin-top: 5px;
    padding: 12px 24px;
    border: 4px solid rgb(45, 128, 141);
    background-color: darkslategrey;
    color: white;
    font-size: 9px;
    cursor: text;
    font-family: 'PixelFont', monospace;
    -webkit-font-smoothing: none;

}

.title_container {
    /* background-color: rgb(79, 161, 202); */
    display: flex;
    
}

.days_container {
    gap: 15px;
    display: flex;
    
}

.day{
padding: 20px 10px;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(45, 128, 141);

}

.day .day_initial{

margin-bottom: 15px;
font-weight: bold;

}

.day .high_temp{

color: orange;
font-weight: bold;

}

.day .low_temp{

color: lightblue;
font-weight: bold;

}

.day p {

margin: 0;
margin-bottom: 2px;
}

.hours_container {
    padding: 10px;
    background-color: rgb(93, 121, 122);
    display: flex;
    
}

.sidebar_item {

    margin: 0px -30px;

    padding: 15px;

    text-decoration: none;
    color: white;
    background-color: rgb(45, 128, 141);
    cursor: pointer;
}

.sidebar_item:hover {
    background-color: rgb(90, 156, 159);
    
}

.sidebar_item.active {
    border: 5px solid;
    border-color: rgb(255, 255, 255);
    background-color: rgb(90, 156, 159);
}