<div class="day">

  <p class="day_initial"> <%= day[:day_initial] %> </p>
  <p class="high_temp"> <%= day[:high_temp].round %> </p>
  <p>--</p>
  <p class="low_temp"> <%= day[:low_temp].round %> </p>

</div>